<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="../../../css/style.css">
    <script defer   src="../../../js/admin.js"></script>
</head>
<body class="min-h-screen bg-primary-100 overflow-x-hidden overflow-y-auto">

    <!-- hero offers content section -->
    <main class="min-h-full ">
        <div class="flex h-full p-4">

            <!-- sidebar -->
            <div class="hidden md:flex flex-col w-64 bg-icon  rounded-2xl shadow-lg">
                <div class="flex items-center justify-center h-20 bg-icon  rounded-2xl ">
                    <a href="/accueil">
                        <img src="../../../images/Arcadia-logo.png" width="60" height="75" alt="logo-Arcadia" class="h-11">
                        <p class="text-[0.6em] font-light font-muli text-white ml-4">Arcadia for admin.</p>
                    </a>
                </div>
                
                <div class="flex flex-col flex-1 overflow-y-auto rounded-b-2xl shadow-lg ">
                    <!-- side bar navigation -->
                    <%- include('./components/sidebar') %>
                </div>
            </div>
        
            <!-- Main content -->
            <div class="flex flex-col flex-1 overflow-y-hidden pb-10 ">
                <div class="flex items-center justify-between h-24  bg-transparent">
                    <div class=" px-4 hidden md:block">
                        <div class="px-4 flex items-center">
                            <h1 class="text-2xl font-muli font-bold"> <span class="font-muli text-gray-700 text-[1.05rem] tracking-wide">Bienvenue, Jose</span> <br> <span class="font-bold font-muli text-4xl tracking-wide "></span> </h1>
                        </div>
                    </div>

                    <!-- create user and deconnection desktop button -->
                    <div class=" md:flex">

                        <div class="flex items-center pr-4 ">
                          
    
                            <!-- logout button -->
                            <form action="/api/logout" method="post">
                                <a href="" class="font-muli text-sm text-white mr-5">
                                    <button type="submit" class="border-2 shadow-sm border-icon text-black  font-semibold font-muli w-32 h-10 rounded-lg hover:scale-105 duration-300 ease-in-out">
                                    déconnexion
                                    </button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="">
                <!-- see employee section -->
                <section class=" w-[90%] h-screen mx-auto pt-2 space-y-10">
                 
                    <div class="container bg-primary-50 border rounded-md shadow-lg border-black w-full h-[80%] md:min-h-[80%] overflow-y-auto ">

                        <div class="container flex flex-col items-center justify-center py-2 h-full">
                            <div class="h1 font-muli font-semibold text-lg">Ajouter des aliments</div>
                            <form action="/admin/post-foods" method="post" class="flex flex-col  space-y-5 mt-2">

                                <% if (errors && errors.length > 0) { %>
                                    <div class="error-messages flex flex-col items-center justify-center w-full h-fit">
                                      <% errors.forEach(function(error) { %>
                                        <ul>
                                          <li class="text-red-500 font-muli text-justify text-xs"><%= error %></li>
                                        </ul>
                                      <% }) %>
                                    </div>
                                <% } %>

                                <input type="hidden" name="redirectTo" value="<%= redirectTo %>">
                                
                                <div class="flex flex-col"> 
                                    <label for="Name" class="font-muli text-sm">Nom :</label>
                                    <div class="border border-black  bg-white h-10 flex items-center justify-center rounded-sm px-2">
                                        <input type="text" name="name" placeholder="Nom de l'aliment" required class="flex-1 outline-none placeholder:font-muli">
                                    </div>
                                </div>

                                <div class="flex flex-col"> 
                                    <label for="type" class="font-muli text-sm">type :</label>
                                    <div class="border border-black  bg-white h-10 flex items-center justify-center rounded-sm px-2">
                                        <input type="text" name="type" placeholder="type de l'aliment" required class="flex-1 outline-none placeholder:font-muli">
                                    </div>
                                </div>


                                <div class="flex flex-col"> 
                                    <label for="quantity" class="font-muli text-sm">Quantiter (en kg) :</label>
                                    <div class="border border-black  bg-white h-10 flex items-center justify-center rounded-sm px-2">
                                        <input type="text" name="quantity" placeholder="200" required class="flex-1 outline-none placeholder:font-muli">
                                    </div>
                                </div>

                                
                                
                                <div class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-4">
                                    <button type="submit" id="createEmployeeBtn" class="h-10 w-40 font-muli font-semibold rounded-sm bg-icon text-white mx-auto hover:scale-95 duration-150 ease-in">Ajouter</button>  
                                </div>
                              
                            </form>
                        </div>
                        
                    </div>
                    
                </section>
             
            </div>
      
        </div>

    </main>        
</body>
</html>