<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>footer</title>
        <link rel="stylesheet" href="../../../css/home.css">
    </head>
    <body>
        
        <footer class="min-h-screen w-screen footer mt-14 px-0 relative">
            <div class="container md:flex absolute inset-0 bg-black/50 z-10 max-w-full space-y-8 ">
                <div class="flex items-center justify-center md:items-start md:justify-normal mt-10 md:ml-10">
                    <a href="/accueil">
                        <img src="../../../images/Arcadia-logo.png" width="150" alt="logo Arcadia" >
                    </a>
                </div>

        
                <div class="md:flex md:mx-auto md:space-x-10 md:px-10">
                    <div class="container flex flex-col items-center md:items-start justify-center space-y-2 w-full md:w-[30vw] md:pr-5">
                        <h1 class="font-muli text-white text-2xl text-center md:text-left">Contact</h1>
                        <hr class="bg-white text-white border-[1.5px] border-white w-20">
                        <div class="flex space-x-2 w-full md:w-auto  md:pr-5">
                            <div class="pl-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"/></svg>
                            </div>
                            <p class="text-sm text-white font-muli text-center md:text-left md:max-w-56 md:mr-11">Proximité de la Forêt de Brocéliande 56120 Josselin, Bretagne France</p>
                        </div>
                        <div class="flex space-x-2 md:ml-7">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="white" d="M231.88 175.08A56.26 56.26 0 0 1 176 224C96.6 224 32 159.4 32 80a56.26 56.26 0 0 1 48.92-55.88a16 16 0 0 1 16.62 9.52l21.12 47.15v.12A16 16 0 0 1 117.39 96c-.18.27-.37.52-.57.77L96 121.45c7.49 15.22 23.41 31 38.83 38.51l24.34-20.71a8.12 8.12 0 0 1 .75-.56a16 16 0 0 1 15.17-1.4l.13.06l47.11 21.11a16 16 0 0 1 9.55 16.62"/></svg>
                            </div>
                            <p class="text-sm text-white font-muli text-center">+33 2 99 00 00 00</p>
                        </div>
                        <div class="flex space-x-2 md:ml-7">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="white" d="M0 8v8a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8l-10 4z"/><path fill="white" d="M2 2a2 2 0 0 0-2 2v2l10 4l10-4V4a2 2 0 0 0-2-2z"/></svg>
                            </div>
                            <p class="text-sm text-white font-muli text-center">admin.jose@hotmail.com</p>
                        </div>
                    </div>

                    <div class="container flex flex-col items-center md:items-start justify-center space-y-2 w-full md:w-[30vw]">
                        <h1 class="font-muli text-white text-2xl text-center md:text-left">Explorer</h1>
                        <hr class="bg-white text-white border-[1.5px] border-white w-20">
                        <div class="flex items-center justify-center space-x-2 w-full md:w-auto">
                            <a href="/services">
                                <p class="text-sm text-white font-muli text-center md:text-left">Services</p>
                            </a>
                        </div>
                        <div class="flex space-x-2">
                            <a href="/habitats">
                                <p class="text-sm text-white font-muli text-center md:text-left">Plan du zoo</p>
                            </a>
                        </div>
                        <div class="flex space-x-2">
                            <a href="/contact">
                                <p class="text-sm text-white font-muli text-center md:text-left">arcadiazoo@hotmail.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>